body {
    background-color: white;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    width: 100;
    padding: 1rem 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: red;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.nav-links li a:hover {
    color: red;
}

.bottom {
    display: flex;
}

.button {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: white;
    color: red;
    box-shadow: 0 0 15px red;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-live {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: red;
    border-radius: 5px;
}

.button:hover {
    background: white;
    box-shadow: 0 0 25px red;
}

.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    position: relative;
    padding: 0 0 0 5%;
    background-color: white;
    overflow: hidden;
}

.desc-box h1 {
    font-family: 'Elms Sans', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.desc-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
}

.desc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fondamentale per non deformare l'immagine */
    display: block;
}

.desc-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Crea la sfumatura: da Bianco (sinistra) a Trasparente (destra) */
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 40%);
}

.title-red {
    color: red;
}

.primo-piano {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 2rem 5%;
}

.news, .podcast, .programmi {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border: 3px solid red;
    width: 33%;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    background: none;
}

.news img, .podcast img, .programmi img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.box-chisiamo {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: justify;
    line-height: 1.6;
    font-size: x-large;
    word-spacing: 1px;
    line-height: 35px;
}

.box-chisiamo h1 {
    margin-bottom: 1.5rem;
}

.grassetto {
    font-weight: bold;
}

.box-dovesiamo {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: justify;
    line-height: 1.6;
}

.box-dovesiamo h1 {
    margin-bottom: 1.5rem;
}

.notizieNews {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    padding: 2rem 5%;
}

.notizia {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border: 3px solid red;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    background: none;
}

.nascosto {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.notizia:hover .nascosto {
    opacity: 1;
    max-height: 200px; 
}


.notizia:hover {
    height: 40vh;
}

.notizia img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

div.box-chisiamo > p{
    margin-top: 50px;
}

.title-sticky{
    position:sticky;
    margin: 2rem 2%;
}

.podcastSfoglia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 2rem 2%;
    height: ;
    overflow-x: auto;     
    overflow-y: hidden; 
    scroll-snap-type: x mandatory;
}

.podcastSfoglia img{
    width: 50%;
}
.podcastSezioni {
    flex: 0 0 300px; 
    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 3px solid red;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
}